* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.common-container{
  display: flex;
  gap: 15px;
}

.create-container{
  display: flex;
  flex-direction: column;
}
.search-label{
  display: flex;
  flex-direction: column;
}

.edit-container{
  display: flex;
  flex-direction: column;
}